.vista-cart-container{

    width: 800px;
    height: 400px;
    display: flex;
    flex-direction: row;
    border: 1px solid violet;
    background-color: blanchedalmond;
    display: flex;
    flex-direction: column;
    
    
}

