/*.modal-dialog{
  overflow-y: initial !important;
}
.modal-body{
    height: 250px;
    overflow-y: auto;
}*/

.scroll{
   overflow-y:auto;
}


.vista-cart-container{

    width: 800px;
    height:auto;
    display: flex;
    flex-direction: row;
    border: 1px solid violet;
    background-color: rgb(241, 240, 237);
    display: flex;
    flex-direction: column;
    
   
    
}

