.vista-admin-container{

    width: 100%;
    height: 100%;
    background-image: url('../../img/unnamed.jpg');
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}
.body-vista-admin{
    margin-top: 100px;
    display: flex;;
    flex-direction: row;
 


}

//..............Menu Izquierda...............//


.vista-menu-izquierda-admin{
    display: flex;
    flex-direction: column;
    border: 0.5px solid rgb(105, 101, 101);
    width: 20%;
    height: 500px;
    margin: 20px;
    justify-content: space-evenly;
}
.boton-admin-menu-izquierdo{
    margin: 10px;
}

.Usuarios-Registrados-Menu-Izquierda{

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
}

//.............Menu Central....................

.vista-central-admin{
    display: flex;
    flex-direction: column;
    border: 0.5px solid rgb(105, 101, 101);
    width: 90%;
    height: auto;
    margin: 20px;
    background-color: aliceblue;
  
}
.lista-usuarios-registrados{
    display: flex;
    flex-direction: row;
}
.user-data-admin {
    margin: 5px;
    width: 150px;
    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 0.1px rgb(101, 135, 231) solid;
    

}

//----------vista productos-------------//

.lista-productos-registrados{
    display: flex;
    flex-direction: row;
}
.product-data-admin{
    margin: 5px;
    //width: 150px;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 0.1px rgb(101, 135, 231) solid;
    

}
.product-identificador-admin-view{
    width: 200px;
    color: rgb(233, 14, 14);
}

.product-name-admin-view{
    width: 200px;
}
.product-price-admin-view{
    width: 100px;
}
.product-color-admin-view{
    width: 100px;
}
.product-rate-admin-view{
    width: 100px;
}
.product-pantalla-admin-view{
    width: 100px;
}
.product-image-admin-view{
    width: 410px;
}
