.product-container{
    display: flex;
    flex-direction: column;
    margin: 15px;
    width: 200px;
    height: 360px;
    border: rgb(224, 214, 219) 1px solid;
  
    margin: 10px;
}
.product-container-accessorios{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin: 15px;
    width:400px;
    height: 450px;
    border: rgb(224, 214, 219) 1px solid;
  
    margin: 10px;

}
.product-container-repuesto{

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
    margin: 15px;
    width:400px;
    height: 450px;
    border: rgb(224, 214, 219) 1px solid;
    background-color: rgb(253, 253, 253);
    margin: 10px;

}

.image-size-repuesto{

    margin-top: 20px;

    width: 300px;
    height: 300px;
}
@media (max-width:500px){
    .product-container-accessorios{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        margin: 15px;
        width:300px;
        height: 350px;
        border: rgb(224, 214, 219) 1px solid;
      
        margin: 10px;
    
    }
}
.destacados-style{

    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}


.image-size{
    
    width: 80px;
    height: 180px;
    margin-left: 60px;
    margin-top: 15px;
    
}
.image-size-accessorio{

    width: 350px;
    height: 400px;
    margin-top: 20px;
    //margin-left: 60px;
    //margin-top: 15px; 
}
.image-size-grande{

  
     display: flex;
   
     color: rgb(230, 219, 219);
     width: 300px;
     height: 400px;
     border: 0.1px solid blueviolet;
     
     
    

}
.name-size{
    margin: 5px;
    height: 95px;
}
.h4-producto-color{

    color: rgb(8, 8, 151);
    font-size: 20px;
    margin-top: -3px;
}
.h4-producto-price{
    color: rgb(250, 7, 250);
    font-size: 25px;
    margin-top: -25px;

}