.product-container{
    display: flex;
    margin: 15px;
    width: 200px;
    height: 300px;
}
.destacados-style{

    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}


.image-size{

    width: 200px;
    height: 300px;
    border: hotpink 1px solid;
}