.product-container{
    display: flex;
    flex-direction: column;
    margin: 15px;
    width: 200px;
    height: 360px;
    border: rgb(224, 214, 219) 1px solid;
  
    margin: 10px;
}
.destacados-style{

    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}


.image-size{
    
    width: 80px;
    height: 180px;
    margin-left: 60px;
    margin-top: 15px;
    
}
.name-size{
    margin: 5px;
    height: 70px;
}
.h4-producto-color{

    color: rgb(8, 8, 151);
    font-size: 20px;
    margin-top: -3px;
}
.h4-producto-price{
    color: rgb(250, 7, 250);
    font-size: 25px;
    margin-top: -25px;

}