.contenedor-lista-mis-compras{

    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: rgb(234, 229, 240);
    justify-content: flex-start;
    align-items: center;
}
.cesta-en-mis-compras{

    width: 80%;
}


