.vista-Container-repuestos{
    position: relative;
    width: 100%;
    height: auto;
    background-color: rgb(36, 6, 117);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    
}

.vista-contenedor-telefonos-repuestos-accessorio{
    margin-top:10px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    //border: 1px solid rgb(138, 134, 134);
    background-color: rgb(240, 238, 235);
}
.nav-bar-container{
  
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top:20px;
    align-items: center;
    width: 800px;
    height: 40px;
    //border: 1px solid rgb(138, 134, 134);
}
.vista-todos-los-repuestos{
    //border-top: 0.5px solid rgb(202, 196, 196);
    margin-top: 50px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    height: auto;

}



.vista-nav-bar{
    margin-top: 15px;
    //position: absolute;
}
