
.vista-product-profile-container{

    width: 100%;
    height: auto;
    background-color: rgb(228, 225, 225);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    
    

}
.image-datainfo-and-div-garantia{

  
    width: 86%;
    height: auto;
    background-color: rgb(247, 245, 242);
    border: 1px solid rgb(212, 206, 206);
    margin-top: 20px;
    display: flex;
    align-self: center;
    flex-direction: row;
    //flex-wrap: wrap;
}
.Image-and-datainfo-together-product-profile{
    width:80% ;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}






//-----------div contendor imagen + datos + ---------//

.data-product-profile{
    width: 46%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin:10px;
   
  
}

//-----------imagen del terminal--------------//

.image-product-profile{
    width:20%;
    height: 500px;
    //border: 0.1px solid rgb(230, 231, 227);
    margin:10px;
   

}
.img-product-size-on-profile{
    width: 200px;
    height: 400px;
    
    margin-top: 25px;
}

.img-product-size-on-profile-accessorio{
    width: 250px;
    height: 250px;
    
    margin-top: 40px;
}

//------------datos del terminal------------//

.h1-vista-product-profile{
color: rgb(0, 140, 255);
text-align: start;
font-size: 25px;
font-weight: 100;
}


.masdatos{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  
}
.vista-color-product-profile{
    display: flex;
    justify-content: flex-start;
    height: 30px;
    margin-bottom: 10px;

}
.vista-rate-product-profile{
    display: flex;
    justify-content: flex-start;
    font-size:20px ;
    height: 30px;
}

.vista-pantalla-product-profile{
    display: flex;
    justify-content: flex-start;
    font-size:20px ;
    height: 50px;
}

.vista-price-product-profile{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 50px;
    margin-top: 10px;
    //border: 1px solid black;
    background-color: rgb(240, 195, 240);
}
.h3-precio{
    font-family: cursive;
    font-size: 18px;
    font-weight: 100;
    

}
.price{
    font-weight: 500;
}
.h2-vista-product-profile{
    //font-weight: bold;
    font-size: 20px;
   
    font-weight: 100;
}

//------------------------moreinfo------------tarjeta reparto----sat------------//

.vista-more-info-pago-reparto-sat{

   display: flex;
   flex-direction: row;
   text-align: start;
   margin-left: 10px;
}
.vista-div-more-info {
    display: flex;
    align-items: center;
    width: 400px;
    height: 50px;
    //border: 1px solid rgb(184, 179, 179);
    background-color: rgb(240, 235, 235);
    text-align: start;
}
.vista-icono-tarjeta{
    margin-right:  10px;
    width: 50px;
    height: 50px;
    background-image: url('../../img/check.png');
    background-position: center;
    background-size: cover;

    
}

.vista-icono-reparto{
    margin-right:  10px;
    width: 50px;
    height: 50px;
    background-image: url('../../img/camion.png');
    background-position: center;
    background-size: cover;

    
}

.vista-icono-flechas{
    margin-right:  10px;
    width: 50px;
    height: 50px;
    background-image: url('../../img/flechas.png');
    background-position: center;
    background-size: cover;

    
}


.vista-div-garantia-sat-dev-product-profile{
    width: 100px;
    height: 20px;
    border: 1px black solid;
}

//------------Garantia-devolucion-Sat----------------//

.vista-right-menu-product-profile{
    width: 34%;
   // width: 300px;
    height: 500px;
    margin-top: 40px;
    margin-bottom: 40px;
}


.vista-disponible-product-profile{
    margin-top: 20px;
    margin-left: 40px;
    width: 280px;
    height: 38px;
    background-color: rgb(58, 55, 55);
    display: flex;
    justify-content: center;
    align-self:center;
    border: rgb(219, 223, 213) solid 1px;

}
.h3-vista-disponible-product-profile{

    color: rgb(243, 239, 239);
    margin-top: 5px;
}
.vista-garantia-product-profile{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
    margin-top: 20px;
    margin-left: 40px;
    width: 280px;
    height: 310px;
    border: rgb(219, 223, 213) solid 1px;

}
.vista-comun-garantia-sat-devolucion{
    
    width: 200px;
    height: 30px;
    //border: 1px black solid;
    margin-top:10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
   
    align-items: center;
   
}
.check-verde{
    width: 30px;
    height: 30px;
    background-image: url('../../img/check-verde.png');
    background-position: center;
    background-size: cover;
}

.vista-boton-comprar-product-profile{
    margin:30px;
}



//------------div descripcion del terminal----------------//


.vista-description-product-profile{
    
    display: flex;
    text-align: initial;
    flex-direction: column;
    justify-content: flex-start;
    width: 86%;
    height: auto;
    border: 0.1px solid rgb(230, 231, 227);
    background-color: rgb(247, 245, 242);
}
.p-vista-product-profile{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}



/*//-------------------Responsive-----------------------/*/

@media (max-width:1240px){

    .image-datainfo-and-div-garantia{

       
        width: 86%;
        height: auto;
        background-color: rgb(247, 245, 242);
        border: 1px solid rgb(212, 206, 206);
        margin-top: 20px;
        display: flex;
        align-self: center;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }
    .Image-and-datainfo-together-product-profile{
        display: flex;
        flex-direction: row;
        width: 100%;
        //flex-wrap: wrap;

    }
    .vista-right-menu-product-profile{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        margin-top: 40px;
        margin-bottom: 40px;
        visibility: hidden;
    }
    .vista-disponible-product-profile{
        margin-top: 20px;
        margin-left: 40px;
        width: 30%;
        height: 38px;
        background-color: rgb(58, 55, 55);
        display: flex;
        justify-content: center;
        align-self:center;
        border: rgb(219, 223, 213) solid 1px;
    
    }.vista-comun-garantia-sat-devolucion{
    
        width: 500px;
        height: 30px;
        //border: 1px black solid;
        margin-top:10px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
       
        align-items: center;
       
    }

}


@media (max-width:1100px){
    .vista-product-profile-container{

        //width: 100vw;
        height: auto;
        background-color: rgb(228, 225, 225);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        justify-content: space-evenly;
        
        
    
    }

    .Image-and-datainfo-together-product-profile{
        width:100% ;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }


    .data-product-profile{
        width: 55%;
        height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin:10px;
       
      
    }
    .masdatos{
        width:100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
      
    }
    .vista-div-more-info {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        width: 80%;
        height: auto;
        //border: 1px solid rgb(184, 179, 179);
        background-color: rgb(240, 235, 235);
        text-align: start;
        margin-left: auto;
    }

}

@media (max-width:800px){
    .data-product-profile{
        width: 40%;
        height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin:10px;
       
      
    }

}

@media (max-width:730px){

    .image-datainfo-and-div-garantia{

  
       
        height: auto;
        background-color: rgb(247, 245, 242);
        border: 1px solid rgb(212, 206, 206);
        margin-top: 20px;
        display: flex;
        align-self: center;
        //flex-direction: row;
        //flex-wrap: wrap;
    }

    .Image-and-datainfo-together-product-profile{
        width:100% ;
        height: auto;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
       
       
    }
    .data-product-profile{
        width: 80%;
        height: 500px;
        display: flex;
       
        
        align-items: center;
        margin:10px;
        border: 1px violet solid;
       
      
    }
    .masdatos{
        width:100%;
        height: auto;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-around;
      
    }
    .vista-div-more-info {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        width: 80%;
        height: auto;
        //border: 1px solid rgb(184, 179, 179);
        background-color: rgb(240, 235, 235);
        text-align: start;
      
    }
    .image-product-profile{
        width:80%;
        height: 500px;
        //border: 0.1px solid rgb(230, 231, 227);
        margin:10px;
       
    
    }
    .img-product-size-on-profile{
        width: 200px;
        height: 400px;
        
        margin-top: 25px;
    }
    

}


