.vista-Container-Tienda{
    width: 100%;
    height: auto;
    background-color: rgb(196, 187, 187);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.vista-contenedor-telefonos-repuestos-accessorio{
    margin-top:10px;
    width: 80%;
    height: auto;
    border: 1px solid rgb(138, 134, 134);
    background-color: rgb(240, 238, 235);
}
.nav-bar-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 70px;
    width: 800px;
    height: 40px;
    //border: 1px solid rgb(138, 134, 134);
}
.vista-todos-los-Smartphones{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    height: auto;

}









