.vista-Container-Tienda{
    position: relative;
    width: 100%;
    height: auto;
    background-color: rgb(238, 236, 242);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    
}

.vista-contenedor-telefonos-repuestos-accessorio{
    margin-top:10px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    //border: 1px solid rgb(138, 134, 134);
    //background-color: rgb(240, 238, 235);
    background-color: rgb(255, 253, 253);
} 
.nav-bar-container{
  
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top:20px;
    align-items: center;
    width: 800px;
    height: 40px;
    
    //border: 1px solid rgb(138, 134, 134);
}
.vista-todos-los-Smartphones{
    //border: 0.5px solid rgb(197, 185, 185);

    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    height: auto;

}
.vista-todos-los-Smartphone-tienda-logeado{
display:flex;
flex-direction: row;
}

.vista-nav-bar-tienda{
    margin-right: 100px;
    margin-top: 20px;
}

.input-busqueda{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 550px;
}

.input-search{
    margin-top:15px;
    width: 500px;
    height: 35px;
}
.boton-tienda-search{
    margin-top: 15px;
}

.parrafo-baterias{

    display: flex;
    flex-direction: column;
   
    
}
.h3-vista-bateria{

    color: rgb(177, 27, 119);
    font-size: 30px;
    margin-left:50px;
}

.parrafo-style-vista-bateria{
    color: rgb(8, 8, 39);
    font-size: 25px;
    display: flex;
   // justify-content: flex-start;
    text-align: start;
    background-color: rgb(197, 202, 192);
    margin-left:50px;
    margin-right:50px;

}
.imagen-vista-baterias{

    width: 95%;
    height: 300px;
}








