.lista-usuarios-registrados-datos{
    display: flex;
    flex-direction: row;
  
}
.user-data-admin-datos {
 
    margin-left: 5px;
    margin-right: 5px;
    width: 150px;
    height: 25px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    //align-items: center;
    flex-wrap: wrap;
    border: 0.1px rgb(130, 146, 190) solid;
    
}
.user-payment-admin-view{
    width: 80px;
    color: rgb(233, 14, 14);
}
.user-name-admin-view{
    width: 75px;
    color: rgb(5, 96, 148);
}
.user-email-admin-view{
    width: 300px;
}
.user-phone-admin-view{
    width: 110px;
}
.user-lastname-admin-view{
    width: 150px;
}
.user-born-admin-view{
    width: 100px;
}
.user-adress-admin-view{
    width: 350px;
}

//---------estilo Productos--------------//


