.home-container{
    width: 100%;
    height: auto;
    background-color: black;
}
.header{
    display: flex;
    margin-top: -420px;
    //width: 100vw;
}
.vista-portada-uno{
    
     width: 100%;
     height: 430px;
}