.home-container{
    width: 100vw;
    height: auto;
   // background-color: rgb(43, 37, 37);
    background-color: rgb(248, 246, 246);
}
.header{
    display: flex;
    //margin-left:-980px;
    position: absolute;
    //width: 100vw;
}
.vista-portada-uno{
    
     width: 100%;
     height: 200px;
}
.separador{

    width: 1000px;
    margin-top: 40px;
    margin-left: 280px;
   // border: 0.01px solid rgb(61, 59, 59) ;
    border: 0.01px solid rgb(182, 177, 177) ;
}
@media (max-width:1200px){
    .separador{
        width: 40%;
        border: 0.01px solid rgb(182, 177, 177) ;
    }
}
@media (max-width:500px){
    .separador{
        width: 1%;
        border: 0.01px solid rgb(182, 177, 177) ;
        visibility: hidden;
        all:unset;
    }
}

// .parrafo{
//     margin: 20px;
//     padding: 15px;
//     font-size: 30px;
//     font-weight: 300;
//     color: rgb(12, 12, 46);
// }

.destacados-z-index-superior{

    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    //z-index: 100;
}

.destacados-z-index-inferios{

    z-index:1;
}

.vista-contenedor-rep-smart-acces{

    display: flex;
    margin-top: 40px;
    flex-direction: row;
    width: 100%;
    
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}

.vista-contenedor-divs-rep-smart-acces{

    display: flex;
    flex-direction: column;
    width: 380px;
    height: 500px;
    align-items: flex-start;
    
    font-size: 26px;
    font-weight: 50;
}
.p-home-titulo{
   //color: rgb(255, 255, 255);
   color: rgb(8, 8, 8);
   margin-top: -2px;
   font-size: 30px;
}

.vista-contenido{

    display: flex;
    flex-direction: column;
    width: 380px;
    height: 330px;
   // border: 0.5px solid rgb(131, 126, 126);
    border-radius: 5px;
}