.header-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 55px;
   // border: 1px solid rgb(78, 73, 73);
    background-color: rgba(28, 28, 29,0);
}

.header-container-not-home{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 55px;
   // border: 1px solid rgb(78, 73, 73);
    background-color: rgb(49, 49, 82);
}

.header-container-home-user-logged{
    
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: 55px;
       // border: 1px solid rgb(78, 73, 73);
        background-color: rgba(28, 28, 29,0);
    

}

/*.user-avatar{

    width: 50px;
    height: 50px;
    border-radius: 100%;
    border:1px solid greenyellow;
    margin-left: 600px;
}
.user-name{

    color: rgb(231, 13, 122);
    font-size: 30px;
    font-weight: 500;
}*/
.vista-logo{
   
    width: 150px;
    height: 30px;
    //border: 1px solid rgb(32, 28, 28);
    font-size: 25px;
    color:rgb(233, 131, 14);
    font-weight: 800;
    font-style:italic;
    margin-top: -7px;
}

.vista-nav{

    display: flex;
    flex-direction: row;
    margin-right: 20px;
    justify-content: space-evenly;

}
.li-home{
    list-style:none;
    margin-top: 5px;
    margin-right:10px;
    font-size: 16px;
    color: rgb(243, 242, 240);
    font-family: sans-serif;
    transition: 0.5s;
}
.li-home:hover{
    
    list-style:none;
    margin-top: 5px;
    margin-right:10px;
    font-size: 18px;
    color: rgb(124, 161, 240);
    font-family: sans-serif;
    transition: 0.5s;
}

.li-not-home{
    list-style:none;
    margin-top: 5px;
    margin-right:35px;
    font-size: 16px;
    color: blanchedalmond;
    font-family: sans-serif;
    transition: 0.5s;
}
.li-not-home:hover{
    
    list-style:none;
    margin-top: 5px;
    margin-right:35px;
    font-size: 16px;
    color: rgb(124, 161, 240);
    font-family: sans-serif;
    transition: 0.5s;
}
.select-not-home{

    all: unset;
    width: 150px;
    color:rgb(255, 255, 255);
    margin-top: 2px;
    
}
.option-not-home{
    color: rgb(20, 20, 20);
    margin-left: auto;
}

.vista-login{
    width: 100px;
    height: 25px;
    border: 1px solid rgb(26, 25, 25);
    border-radius: 6px;
    background-color: rgb(34, 32, 32);
    color: rgb(238, 229, 218);
    transition: 0.5s;
}

.vista-login:hover{
    width: 105px;
    height: 27px;
    border: 1px solid rgb(161, 153, 153);
    border-radius: 6px;
    background-color: rgb(134, 167, 240);
    color: rgb(15, 15, 15);
    transition: 0.5s;
}