.header-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 55px;
   // border: 1px solid rgb(78, 73, 73);
    background-color: rgba(28, 28, 29,0.1);
}

.header-container-not-home{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 55px;
    background-color: rgb(30, 30, 156);
}

.header-container-tienda{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 55px;
    background-color: rgba(30, 30, 156,0);
}

.header-container-home-user-logged{
    
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: 75px;
       // border: 1px solid rgb(78, 73, 73);
        background-color: rgba(28, 28, 29,0);
    

}
.header-container-repuestos-Presupuesto-user-logged{
   
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    height: 100px;
   // border: 1px solid rgb(78, 73, 73);
    background-color: rgba(28, 28, 29);

}


.vista-logo{
   
    width: 150px;
    height: 30px;
    //border: 1px solid rgb(32, 28, 28);
    font-size: 25px;
    color:rgb(233, 131, 14);
    font-weight: 800;
    font-style:italic;
    margin-top: -7px;
}

.vista-nav{

    display: flex;
    flex-direction: row;
    margin-right: 20px;
    justify-content: space-evenly;
    align-items: center;

}


.li-home{
    list-style:none;
    margin-top: 5px;
    margin-right:10px;
    font-size: 16px;
    color: rgb(243, 242, 240);
    font-family: sans-serif;
    transition: 0.5s;
}
.li-home:hover{
    
    list-style:none;
    margin-top: 5px;
    margin-right:10px;
    font-size: 18px;
    color: rgb(124, 161, 240);
    font-family: sans-serif;
    transition: 0.5s;
}

.li-not-home{
    list-style:none;
    margin-top: 5px;
    margin-right:35px;
    font-size: 16px;
    color: blanchedalmond;
    font-family: sans-serif;
    transition: 0.5s;
}
.li-not-home:hover{
    
    list-style:none;
    margin-top: 5px;
    margin-right:35px;
    font-size: 16px;
    color: rgb(124, 161, 240);
    font-family: sans-serif;
    transition: 0.5s;
}
.select-not-home{

    all: unset;
    width: 150px;
    color:rgb(255, 255, 255);
    margin-top: 2px;
    
}
.option-not-home{
    color: rgb(20, 20, 20);
    margin-left: auto;
}

.vista-login{
    width: 100px;
    height: 25px;
    border: 1px solid rgb(26, 25, 25);
    border-radius: 6px;
    background-color: rgb(34, 32, 32);
    color: rgb(238, 229, 218);
    transition: 0.5s;
}

.vista-contenedor-carrito-imagen-cantidad{

    display: flex;
    flex-direction: column;
    margin-right: 10px;
    margin-left: -10px;
}

.h5-carrito{
    
    all:unset;
    margin-bottom: -6px;
    color: rgb(224, 139, 26);
}
.vista-icono-carrito{

    width: 50px;
    height: 50px;
}

.vista-login:hover{
    width: 105px;
    height: 27px;
    border: 1px solid rgb(161, 153, 153);
    border-radius: 6px;
    background-color: rgb(134, 167, 240);
    color: rgb(15, 15, 15);
    transition: 0.5s;
}
.h3-vista-header{
    color:rgb(240, 160, 160);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 2000;
}
.li-user-logged{
    display: flex;
    flex-direction: row;
    color: whitesmoke;
}
.vista-user-logged{
   
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.avatar-user-logged{
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    color: rgb(235, 227, 227);
    border: rgb(56, 56, 4) solid 1px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: rgb(200, 205, 207);
}
.h4-vista-logged{
    color: rgb(57, 166, 245);
}


//-------------------responsive---------------------//


@media (max-width:767px){

    .header-container-repuestos-Presupuesto-user-logged{
        width: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: start;
        height: 100px;
       // border: 1px solid rgb(78, 73, 73);
        background-color: rgba(28, 28, 29,0.1);
    
    }
    .header-container-not-home{
        
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 400px;
    height: 55px;
   // border: 1px solid rgb(78, 73, 73);
    //background-color: rgb(49, 49, 82);
    background-color: rgb(30, 30, 156);
    }

.vista-nav{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    visibility: hidden;
}



}


//-----------------Media Queries----------------//

@media (max-width : 600px){

    .header-container-home-user-logged{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: 75px;
       // border: 1px solid rgb(78, 73, 73);
        background-color: rgba(28, 28, 29,0);
    

}

.vista-nav{
   
    display: flex;
    flex-direction: row;
    margin-right: 20px;
    justify-content: space-evenly;
    align-items: center;

}

.h5-carrito{
    
    all:unset;
    margin-bottom: -6px;
    color: rgb(224, 139, 26);
}
.vista-icono-carrito{

    width: 50px;
    height: 50px;
    margin-left: -50px;
}

}