.vista-presupuesto-container{
   
    width: 100%;
    height: 100vh;
    background-color: rgb(189, 191, 196);
    
}

.body-container-prepusupuesto{

    background-color: rgb(248, 241, 241);
    width: 100%;
    height: 100%;
    display: flex;
   
  
}
.caroussel-container{
    width: 100%;
    height: 400px;
}