.vista-form-container{

    width: 800px;
    height: 500px;
    display: flex;
    flex-direction: row;
    background-image: url('../../img/fondo.jpg');
}

.vista-añadir-info-texto{

    width: 600px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    
}
.vista-añadir-info-imagenes{

    width: 150px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    //margin-top: 200px;
}
::placeholder {
    color: rgb(5, 5, 66);
    
    padding-left: 10px;
  }
.inputs-form-admin{

    all: unset;
    width: 80%;
    height: 30px;
    border: 1px solid violet;
    background-color: white;
    margin: 15px;
    border-radius: 20px;
}
.description-form{

    height: 70px;
}
.inputs-form-admin-image{

    all:unset;
    margin-top: 200px;
    //width: 80%;
    height: 30px;
    border: 1px solid violet;
    background-color: white;
   
}